<div class="animated fast fadeIn text-light">
    <h1>Lorem, ipsum dolor.</h1>
    <hr>
    <div class="tamaño de letra">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis consequatur neque quas! Vero eum quos
            ullam ut aliquid nemo facere voluptatum voluptatibus veniam. Error nostrum fugit atque tempore impedit
            recusandae!
            Repudiandae veritatis inventore facere error rem culpa, mollitia accusantium dignissimos id suscipit ut
            blanditiis accusamus! Dolor autem nemo maxime, consequatur nostrum assumenda dicta eos, dolorum totam vitae,
            recusandae libero porro?
            Expedita esse neque, amet doloremque, optio iure ipsam sequi, quae sapiente consectetur exercitationem quos
            vero quia vitae. Incidunt voluptatem totam, iusto tenetur eaque tempore numquam nulla ipsam necessitatibus
            voluptate recusandae.
        </p>
    </div>

</div>