/* You can add global styles to this file, and also import other style files */
body{
  background: #12c2e9;  
background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  
background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); 

}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  .logo{
    width: 120px;
  }
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }